<!--DepartmentDetails.html-->
<section class="view">
    <h3 class="page-title" data-bind="text: title"></h3>
    <div class="btn-group pull-right">
        <button class="btn btn-info"
            data-bind="click: goBack">
            <i class="icon-reply"></i> Back</button>

        <button class="btn btn-info"
            data-bind="click: cancel, enable: canSave, visible: isEdit">
            <i class="icon-undo"></i> Cancel</button>

        <button class="btn btn-info"
            data-bind="click: save, enable: canSave">
            <i class="icon-save"></i> Save</button>

        <button class="btn btn-danger"
            data-bind="click: deleteEntity, disable: hasChanges, visible: isEdit">
            <i class="icon-trash"></i> Delete </button>

    </div>
    <i class="icon-asterisk" data-bind="visible: hasChanges"></i>

    <div data-bind="with: entity">

        <table class="table table-hover table-striped table-bordered rounded">
                <tr>
                    <td>
                        <label for="txtName">Name</label>
                    </td>
                    <td>
                        <input id="txtName" data-bind="value: name" placeholder="Enter Name" />
                    </td>

                    <td></td>
                    <td></td>
                </tr>

            
        </table>
    </div>
</section>

